/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Fondo.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para mantener el fondo fijo al hacer scroll */
    font-family: "League Spartan", sans-serif;
    color: white;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
h1, h2 {
    text-align: center;
    font-weight: bold;
}
h1 {
    font-size: 3rem;
    margin-top: 100px;
}
h2 {
    font-size: 2rem;
    margin: 20px 0;
    }


    .contenedor, .contenedor2 {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 20px;
        align-items: center;
        padding: 20px;
    }


/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.navbar h1 {
    font-size: 30px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar li {
    display: inline;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}
.navbar a:hover {
    color: rgb(152, 171, 180);
}


/* Footer */
.footer {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
}
.footer p {
    margin: 5px 0;
    color: rgb(219, 182, 134);
}
.footer a {
    text-decoration: none;
    color: rgb(152, 171, 180);
    font-weight: bold;
}

.contenedor2 {
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    padding: 20px;
    gap:20px;
    
}
.texto{
    flex:1;
}

img{
    margin: 20px;
    width: 300px;
    height: auto;
    border-radius: 20px;
    
    
}

.gif{
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    display: block;
    margin: 0 auto;
    
}
p{
    font-family: League Spartan, sans-serif;
    text-align: justify;
    font-size: 20px;
    margin: 50px;
    color: rgb(219, 182, 134);

}
a{
   font-size: 20px;
   color:rgb(152, 171, 180);
   font-family: League Spartan, sans-serif;
}


/* Responsive Design */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .contenedor, .contenedor2 {
        grid-template-columns: 1fr;
    }

    h2 {
        text-align: center;
    }

    img {
        margin: 0 auto;
    }
    .gif{
        max-width: 100%;

    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .navbar ul {
        gap: 5px;
    }

    .navbar a {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
    .gif{
        max-width: 100%;

    }
}